.text{
    color: red
}

.title{
    text-align: center;
}

table{
    margin: auto;
    border-spacing: 0;
}

tr > * {
    text-align: center;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    box-sizing: border-box;
}

th{
    background-color: yellow;
}